<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= '<div>hello</div>' %>
    <!-- tag를 인식해서 보여줄 때 사용 -->
    <%- '<div>hello</div>' %>
    </br>

    <% const name = "hello" %>
    <%= name %>
    </br>

    <% const hello = [1, 2, 3, 4, 5] %>

    <% for(let i = 0; i < hello.length; i++) {%>
        <%= hello[i] %>
    <% } %>
    </br>
    </br>

    <% hello.forEach(element => { %>
        <div>
            <%= element %>
        </div>
    <% }); %>

    <!-- locals 전역을 의미하는 예약어 -->
    <%= locals.data %>
</body>
</html>